@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Oswald", sans-serif;
}

form {
    display: flex;
    flex-direction: column;    
    margin-top: 400px;
    align-items: right;
    justify-content: center;
}

section.acess {
    background-image: url("../IMG/img_fundo2.jpg");
    background-size: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form input {
    width: 300%;
}

.btnEntrar {
    width: 50%;    
    border-radius: 5px;
    border: 0;
    padding: 5px;          
    text-transform: uppercase;
    margin-left: 55%;
}

form i {    
    justify-content: center;
    align-items: center;
}