@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Oswald", sans-serif;
}

section.imagem {
    background-image: url(/IMG/img_fundo.jpg);
    background-size: cover;
    height: 100%;
    width: 100vh;

}

section.acess {
    height: 100vh;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form input {    
    width: 100%;
}

.btnEntrar {  
    width: 100%;
    margin: 15px;
    border-radius: 5px;
    border: 0;        
    text-transform: uppercase;

}

form i {
    display: flex;
    justify-content: center;
}